:root {
  --color-bg-primary: #ffffff;
  --color-text-primary: #212121;
  --color-text-gray: #707070;
  --color-border-gray: #d9d9d9;
  --color-accent: #00798a;
  --color-accent2: #97cad114;
  --color-peach: #f65858;
  --color-date: #7c6f50;
  --font-primary: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.events-section {
  display: flex;
  margin: 0 auto;
  max-width: 1251px;
  padding: 5.06rem 0.94rem 6.31rem;
  justify-content: space-between;
  gap: 1rem;
  user-select: none;
}

.events-container {
  max-width: 604px;
  min-width: 0;
}

.image-overlay {
  background-color: #00000000;
  transition: all 0.2s ease;
  position: relative;
}

.event-card {
  cursor: pointer;
}

.event-card:hover .image-overlay {
  opacity: 0.8;
}

.events-page-title {
  color: var(--color-text-primary);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.event-card:hover .event-title {
  text-decoration: underline;
}

.filters {
  margin-bottom: 3.5rem;
  padding-bottom: 1.25rem;
  /* overflow-x: auto; */

  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

.filters .simplebar-content {
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-left: -13px !important;
  padding-top: 4px !important;
  cursor: pointer;
}

.filters .simplebar-scrollbar::before {
  background-color: var(--color-accent);
  opacity: 0.8;
}

.filters .simplebar-track.simplebar-horizontal {
  height: 12px;
  bottom: 2px;
}

.filters::-webkit-scrollbar {
  display: none;
}

.select-wrapper {
  position: relative;
  flex-shrink: 0;
  margin-bottom: 4px;
  cursor: pointer;
}

.select-wrapper select {
  max-width: 148px;
  color: var(--color-text-primary);
  padding: 1rem 2.5rem 1rem 1rem;
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 40px;
  background: #f6f7f8;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper.filter-active select {
  background-color: var(--color-accent);
  color: var(--color-bg-primary);
}

.select-wrapper.filter-active::after {
  background-color: white;
}

.select-wrapper.focused::after {
  transform: translateY(-50%) rotate(180deg);
}

.select-wrapper select:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 14px;
  height: 14px;
  background-color: var(--color-text-primary);
  transition: background-color 0.2s ease, transform 0.2s ease;
  mask-image: url("../images/icons/arrow.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transform: translateY(-50%);
}

.select-wrapper:last-child::after {
  right: 1.25rem;
}

#events {
  list-style: none;
  padding: 0;
}

#events li {
  border-bottom: 1px solid var(--color-border-gray);
  padding: 0.75rem 0;
}

.events-link {
  display: block;
  color: var(--color-accent);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
}

.event-card {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-border-gray);
}

/* .image-overlay {
  width: 100px;
  flex-shrink: 0;
} */

.event-image {
  max-width: 159px;
  object-fit: cover;
  border-radius: 8px;
}

.event-time {
  color: var(--color-date);
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.event-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 4px;
}

.event-content {
  margin-bottom: 0.81rem;
}

.event-category {
  color: var(--color-text-gray);
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.75rem;
}

.event-attendees {
  color: var(--color-text-gray);
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.4;
}

.map-heading {
  color: var(--color-text-primary);
  max-width: 8.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
}

.map-location-text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.88rem;
}

.map-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 6.25rem;
  align-self: flex-start;
  width: 21.88rem;
  height: 17.81rem;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  z-index: 1;
}

.map-panel.expanded {
  height: 75vh;
  min-height: 31.25rem;
}

.map-panel #map {
  height: 100%;
  width: 100%;
}

.map-promo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-promo-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  transform: scale(1.1);
  z-index: -1;
}

.map-promo-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.63rem 1.5rem;
  background-color: var(--color-bg-primary);
  color: var(--color-accent);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid var(--color-accent);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.map-promo-button:hover {
  transform: scale(1.05);
}
.map-promo-button img {
  width: 1.13rem;
  height: 1.13rem;
}

.minimize-map-button {
  display: none;
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  z-index: 11;
  align-items: center;
  gap: 8px;
  padding: 0.63rem 1.5rem;
  background-color: var(--color-bg-primary);
  color: var(--color-accent);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid var(--color-accent);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.minimize-map-button:hover {
  transform: scale(1.05);
}

.minimize-map-button img {
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
}

.map-panel.expanded .minimize-map-button {
  display: inline-flex;
  z-index: 999;
}

.map-promo-overlay.hidden {
  display: none;
}

@media screen and (max-width: 1023px) {
  .events-section {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .filters {
    margin-bottom: 1.63rem;
  }

  .map-wrapper {
    display: none;
  }

  .events-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .map-panel {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .map-panel {
    display: none;
  }

  .events-section {
    padding: 1.38rem 1rem 2.38rem;
  }

  .events-page-title {
    font-size: 1.56rem;
    line-height: 1.44;
  }

  .event-image {
    max-width: 98px;
    height: auto;
  }

  .event-title {
    font-size: 0.88rem;
    line-height: 1.2;
  }

  .event-category {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .event-time {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 393px) {
  .filters .simplebar-content {
    gap: 1.22rem;
  }

  .event-content {
    margin-bottom: 2.5rem;
  }

  .event-time {
    font-size: 0.63rem;
  }

  .event-title {
    font-size: 0.69rem;
  }

  .event-category {
    font-size: 0.69rem;
    margin-bottom: 0px;
  }

  .event-attendees {
    display: none;
  }
}
